$orange: #F9AE24;
$brown: #3D3030;
$gray: #5B5B5B;
$lightGray: #D9D9D9;

* { padding: 0; margin: 0; }
html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;

}

h1{
  color: white;
  font-family: arkhip,helvetica;
  font-size: 300% !important;
  margin: 50px 0 0 0 !important;
  display: inline;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  &.mobile{
    font-size: 200% !important;
  }
}
h2{
  color: white;
  font-family: sensei, helvetica, sans-serif;
  font-size: 300%;
}
h3{
   color: $brown;
  font-family: sensei, helvetica, sans-serif;
  font-size: 100%;
  
  z-index: 999;
  opacity: 0.9999;
  font-size: 600%;
  
}
h4{
  color: $orange;
  font-family: sensei, helvetica, sans-serif;
  font-size: 250%;

  z-index: 1000;
  opacity: 0.99999;
}
h5{
 color: white;
 opacity: 0.999999;
 z-index: 100;  
 position: absolute;
 font-family: arkhip;
 font-size: 100%;
 display: inline-block;
}
h6{
  font-family: arkhip,helvetica;
  color: $brown;
  font-size:130%;

}
p{
  color: $gray;
  font-family: bodoni, helvetica,sans-serif;
  font-size: 130%;
  line-height:100%;

}
.logoBox{
	
	z-index: 100;
	text-align: center;
  margin-top: -20px;

}
.jumbo{
  margin-top: 150px;
}
.logo{
	display: block;
    margin: auto;
    width: 100%;
    max-height: 200px;
    
}

@font-face {
    font-family: arkhip;
    src: url(/font/arkhip_font.ttf);
}
@font-face {
    font-family: sensei;
    src: url(/font/Sensei-Medium.ttf);
}
@font-face {
    font-family: bodoni;
    src: url(/font/bodoni.ttf);
}
.ico{
	width: 18px;
	margin-right: 10px;
	margin-top: -3px;
}
.icoPad{
	margin-left: 20px;
}
.phone{
	padding-top: 20px;
}
.start{
	height:100%;
	width: 100%;
	background: url("/img/bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 30px;
  overflow: hidden;


}
.menu{
	min-height: 500px;
  background-image: url("/img/patrn.jpg");
  overflow: hidden;
  position: relative;
  text-align: center;
}
.pizza1{
  width: 500px;
  left: -230px;
  top: -230px;
  position: absolute;
  
}
.pizza2{
  width: 500px;
  
  position: absolute;
  right: -230px;
  top: -230px;

}
.paint{
  width: 500px;
  

  position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

}

.orangeBox{
  background-color: $orange;
  display: inline-block;
  padding: 10px 5px 0px 5px;

}

.jumbMarg{
  margin-top: 10px;
}
.menuH3{
  
margin-top: 35px;
position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

}

.dottedSelected{
  background-color:$orange;
}
.dotted{
  display: inline-block;
  margin-top: 10px;
  margin-right:5px; 
  padding: 1px 4px;
  opacity: 0.9999;
  border-style: dashed;
  border-radius: 5px;
  border-color:$gray;
  border-width: 2px;
  cursor:pointer;
  &:hover{
    p{
      color:$brown !important;}
  }
  
}
.menuItem{
  transform: translateX(-6px);
  //sdfsdf
}
.pizzaMenu{
  width: 100%;
  &:hover{
    transform: scale(1.3);
    z-index:999999;

  }
}
.marginTop30{
  margin-top:30px;
}
.allignLeft{
  text-align: left;
}

.noPadding{
  padding-left:0 !important;
  padding-right:0 !important;

}
.paddingTop{
  padding-top:15px;
}
 

.list{
  h6{
    font-size: 120%;
  }
  p{
    font-size: 100%;
  }
}

.dottedBottom{
  border-bottom:3px dotted $orange;
  padding-bottom:10px;
  border-radius:20px;
 }

 .footerBox{
  min-height:300px;
  background: url("/img/pizza-1.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top:40px;
  padding: 15px 0px;
  text-align: left;

  p{
    color:$lightGray;
    font-family: arkhip,helvetica;
    font-size:110%;

  }
 }

.orange{
    color:$orange;
  }
#orange{
    color:$orange;
  }

.marginFooter{
  padding:10px 15px;
}

.social{
  color:$lightGray;
}
.social:hover{
  color: $orange;
}

#map{
  width:100%;
  height:180px;
}
.start:before {
          content: "";
          position: fixed;
          top: -10px;
          left: 0;
          width: 100%;
          height: 10px;

          -webkit-box-shadow: 0px -1px 132px 100px   rgba(0,0,0,.9);
              -moz-box-shadow: 0px -1px 132px 100px   rgba(0,0,0,.9);
                         box-shadow: 0px -1px 132px 100px   rgba(0,0,0,.9);

          z-index: 1;
}

@-webkit-keyframes scroll-ani {
  0% {
    opacity: 0;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@-moz-keyframes scroll-ani {
  0% {
    opacity: 0;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@keyframes scroll-ani {
  0% {
    opacity: 0;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
.mouse-scroll {
  
  line-height: 4px;
  font-size: 10px;
  font-weight: normal;
  color: #7F8C8D;
  color: #FFF;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  bottom:0;
  left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;

  text-decoration: none;
  overflow: hidden;
  z-index: 9999;
  opacity: 0.999999999;
  position: absolute;
}
.mouse-scroll .mouse {
  position: relative;
  display: block;
  width: 30px;
  height: 50px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #FFF;
  border-radius: 23px;
}
.mouse-scroll .mouse .mouse-movement {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #FFF;
  border-radius: 50%;
  -webkit-animation: scroll-ani 4s linear infinite;
  -moz-animation: scroll-ani 4s linear infinite;
  animation: scroll-ani 4s linear infinite;
}
.mouse-scroll .mouse-message {
  float: left;
  margin: -200px 0 0 7px;
  padding: 0;
  -webkit-animation: scroll-ani 4s linear infinite;
  -moz-animation: scroll-ani 4s linear infinite;
  animation: scroll-ani 4s linear infinite;
}
.mouse-scroll:hover .mouse-message {
  margin-top: -10px;
  color: white;
}
.news{
  position:fixed;
  right:0;
  magrin-right:0;
  margin: auto;
  cursor:pointer;
  transition: all 0.5s ease-in-out;
  opacity:0.999999;
  z-index:9999999999;
}

.newsPlash{
  height:450px;
  width:80px;
  background-color:white;
  display:inline-block;
  margin-right:-10px;
  border-radius:20px 0 0 20px;
  overflow:hidden;
  h6{
    transform: rotate(90deg);
    margin-top:147px;
  }
}
#vk_groups{
  display:inline-block;
}
.newsColapsed{
  transform: translateX(400px);
  }

i{
 transition: all 0.5s ease-in-out; 
}
.chevronRotate{
  transform:rotate(180deg);
}
.listItem{
  min-height:110px !important;
}